coverage==3.7.1
flake8==2.2.5
mccabe==0.3  # mccabe>=0.2.1 required by flake8==2.3.0
mock==1.0.1
nose==1.3.4
pep257==0.4.1
pep8==1.5.7  # pep8>=1.5.7 required by flake8==2.2.5
pyflakes==0.8.1  # pyflakes>=0.8.1 required by flake8==2.3.0
